<div class="docs" id="docs">
	<img src="img/bg_page.jpg">
	<!-- 发弹幕 -->
	<div class="" id="sendDanmaku">
		<img src="img/danmaku/bg_danmaku.png" class="bgDanmaku">
		<p class="text textHint">
			请输入您想评论的内容：
		</p>
		<form id="formDocs">
			<textarea class="inputDanmaku" type="text" name="dm"></textarea>
		</form>
		
		<img src="img/danmaku/btn_send.png" class="btnSend" id="btnSend">
		<img src="img/danmaku/btn_rewrite.png" class="btnRewrite" id="btnRewrite">
	</div>
	<!-- 发送完成 -->
	<div class="pageHidden" id="sendDanmakuEnd">
		<p class="text textThanks">
			感谢您的评论！
		</p>
		<img src="img/danmaku/btn_send_again.png" class="btnSendAgain" id="btnSendAgain">
		<img src="img/danmaku/btn_back.png" class="btnBack" id="btnBack">
	</div>
</div>