<div class="docs" id="docs">
	<img src="img/bg_page.jpg">
	<!-- 获取资料表单 -->
	<div class="" id="getDocs">
		<img src="img/docs/bg_email.png" class="bgEmail">
		<p class="text textEmail">
			请在下方输入框中输入您的邮箱<br>
			地址，我们将会把资料下发至您<br>
			的邮箱。
		</p>
		<form id="formDocs">
			<input class="inputEmail" type="email" name="email" placeholder="email@example.com">
		</form>
		
		<img src="img/docs/btn_get.png" class="btnGet" id="btnGet">
	</div>
	<!-- 下发完成 -->
	<div class="pageHidden" id="getDocsEnd">
		<p class="text textEmail">
			会议相关资料已下发至您的邮箱<br>
			请查收。
		</p>
		<img src="img/docs/btn_get_again.png" class="btnGetAgain" id="btnGetAgain">
		<img src="img/docs/btn_back.png" class="btnDocsBack" id="btnBack">
	</div>
</div>