<div class="form dsn">
    <div class="tit">请填写下列信息完成签到步骤</div>
    <input type="text" class="text" placeholder="姓名">
    <input type="text" class="text" placeholder="单位">
    <input type="text" class="text" placeholder="职务">
    <input type="text" class="text" placeholder="电话">
    <input type="text" class="text" placeholder="邮箱">
    <input type="text" class="text" placeholder="自定义字段1">
    <input type="text" class="text" placeholder="自定义字段2">
    <input type="image" src="img/btn_1.png" id="submit" />
</div>
<div class="signOn pf tl_5 " id="signOn">
    <img src="img/btn_2.png" alt="">
    <div class="wid">感谢您已签到完成</div>
</div>