<div class="lottery" id="lottery">
	<!-- 主背景 -->
	<div class="" id="lotteryBG">
		<img class="lotteryBG" src="img/lottery/bg.jpg">
		<p class='text textBlack textLotteryTitle'>
			您好，XX大会抽奖进行中，敬请<br>
			期待！
		</p>
		<img src="img/lottery/btn_refresh.png" class="btnLotteryRefresh" id='btnLotteryRefresh'>
		<img src="img/lottery/btn_back_long.png" class="btnLotteryBackLong" id='btnLotteryBack'>
	</div>
	<!-- 未中奖 -->
	<div class="pageHidden" id="lotteryLose">
		<img class="lotteryCover" src="img/lottery/bg2.jpg">
		<p class="text textCenter textLotteryLose">
			全场活动结束，<br>
			很遗憾您没能中奖！
		</p>
		<img src="img/lottery/btn_back.png" class="btnLotteryBack" id='btnLotteryLoseBack'>
		<img src="img/lottery/btn_close.png" class="btnLotteryClose" id='btnLotteryLoseClose'>
	</div>
	<!-- 中奖 -->
	<div class="pageHidden" id="lotteryWin">
		<img class="lotteryCover" src="img/lottery/bg2.jpg">
		<p class="text textCenter textLotteryWin">
			您好，祝贺您获奖！
		</p>
		<p class="text textCenter textLotteryWinContent" id="textLotteryWin">
			奖品XXXXXX
		</p>
		<p class="text textCenter textLotteryWinStaff">
			请联系工作人员领取
		</p>
		<img src="img/lottery/giftbox.png" class="lotteryGiftBox">
		<img src="img/lottery/btn_back.png" class="btnLotteryBack" id='btnLotteryWinBack'>
		<img src="img/lottery/btn_close.png" class="btnLotteryClose" id='btnLotteryWinClose'>
	</div>
</div>