<img src="img/menus_0.png" id="btn_menus"/>
<ul id="menusList" class="menusList pa">
    <li class="li1" id="btnDocs">资料下发</li>
    <li class="li2" id="btnLottery">抽奖提示</li>
    <li class="li3" id="btnLive">图文直播</li>
    <li class="li4" id="btnDanmaku">发弹幕&nbsp;</li>
    <li class="li5" id="btnVote">现场投票</li>
</ul>
<script>
base.menus({
    clickObject : $('#btn_menus'),
    hasClass : 'menusAnimate',
    displayClass : ['menusAnimate','menusListAnimate'],
    hideClass : ['menusRAnimate','menusListRAnimate']
});


// 跳转测试
$("#btnDocs").bind('tap', function(){
	require([
    'text!../layout/docs.html',
    "util"], function (w, base) {
    	$('#main').html(w);
	});
});

$("#btnLive").bind('tap', function(){
	require([
    'text!../layout/live.html',
    "util"], function (w, base) {
    	$('#main').html(w);
	});
});

$("#btnDanmaku").bind('tap', function(){
	require([
    'text!../layout/danmaku.html',
    "util"], function (w, base) {
    	$('#main').html(w);
	});
});

</script>