<div class="vote" id='vote'>
	<img src="img/bg_page.jpg">
	<!-- 投票结果 -->
	<div class="" id='voteResult'>
		<img src="img/vote/bg.png" class='bgVote'>
		<p class="text textBlack textVoteResult">
			感谢您参与投票
		</p>
		<div class="vote-result-group">
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 50%"></div>
				</div>
			</div>
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 40%"></div>
				</div>
			</div>
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 60%"></div>
				</div>
			</div>
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 70%"></div>
				</div>
			</div>
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 55%"></div>
				</div>
			</div>
			<div class='vote-result-item'>
				<span class='text textBlack vote-result-item-name'>XXX</span>
				<div class='vote-result-progress-bg'>
					<div class='vote-result-progress-fill' style="width: 30%"></div>
				</div>
			</div>
		</div>
		<img src="img/vote/btn_refresh.png" class='btnVoteRefresh' id='btnVoteRefresh'>
		<img src="img/vote/btn_back.png" class='btnVoteBack' id='btnVoteBack'>
	</div>
	<!-- 投票已结束 -->
	<div class="pageHidden" id='voteEnd'>
		<p class='text textVoteEnd'>
			本次投票已结束
		</p>
		<img src="img/vote/btn_view_result.png" class="btnVoteViewResult" id="btnVoteViewResult">
		<img src="img/vote/btn_back_long.png" class="btnVoteBackLong" id="btnVoteEndBack">
	</div>
	<!-- 投票尚未开始 -->
	<div class="pageHidden" id='voteNotStart'>
		<p class='text textVoteNotStart'>
			投票尚未开始，敬请期待！
		</p>
		<img src="img/vote/btn_refresh_long.png" class="btnVoteRefreshLong" id="btnVoteViewResult">
		<img src="img/vote/btn_back_long.png" class="btnVoteBackLong" id="btnVoteEndBack">
	</div>
</div>